/build/
/bin/
target/
 

.DS_Store
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db
Thumbs.db  


Desktop.ini
.Trashes
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
local.properties
.classpath
.settings/
.cproject
.buildpath
